.navbar__full{
display: flex;
width: 100vw;
height: 70px;
border-bottom: 1px solid black;
justify-content: space-evenly;
}
.search__icon__input {
    position: relative;
    margin-top: -10px;
  }
  
  .search__icon__input svg {
    position: absolute;
    left: 5px;
    top: 30%;
    transform: translateY(-50%);
  }

.search__input{
    width: 500px;
    height: 35px;
    border: none;
    padding-left: 30px;
    border-radius: 5px;
    background-color: #F2F2F2;

}
.search__input:focus{
  outline: none;
  background-color: whitesmoke;
  color: black;
}
.list__items{
    display: flex;
    width: 100vw;
    margin-top: 25px;
    justify-content: space-evenly;
}

/* Menu for Men */
.men__menu{
  display: flex;
  width: 1100px;
  height: 450px;
  border: 0.5px dotted ;
}
.men__menu div:nth-child(even){
  background-color: #F2F2F2;
}

span{
  font-size: 14px;
  margin-bottom: 5px;
}

.column__one,.column__two,.column__three,.column__four,.column__five{
  display: flex;
  flex-direction: column;
  width: 220px;
  padding-left: 20px;
  /* padding-right: 10px; */

}
.header__value{
  color: #DC6F6F;
  margin-bottom: 10px;
  margin-top: 10px;
}
.logo__home{
  margin-top: -15px;
}
.profile__ll,.wishlist__ll,.bag__ll{
  display: flex;
  flex-direction: column;
}
